:root {
  --color-background: #1f242d;
  --btn-background: #262c37;
  // --text-color: #2894ff;
  // --text-color: #4d8ca1;
  --text-color: #4e6994;

  --light-color: #6ec9e6;

  --white: #e9e7e7;

  // --accent-color: #fc0500;
  // --accent-color: #d50002;
  --accent-color: #b11b2b;

  --cell-border: #4c566a;
  // --text-color: #8cc6ff;
  // --cell-size: 10rem;
  // --mark-size: calc(var(--cell-size) * 0.9);
}
