:root {
  --color-background: #1f242d;
  --btn-background: #262c37;
  --text-color: #4e6994;
  --light-color: #6ec9e6;
  --white: #e9e7e7;
  --accent-color: #b11b2b;
  --input-field-color: #7c131e;
  --cell-border: #4c566a;
}
