.game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto-fit);
  gap: 2rem;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  @media (min-width: 900px), (orientation: landscape) {
    grid-template-columns: 3fr 4fr 3fr;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &__player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    text-align: center;
    background-color: var(--btn-background);
    font-size: clamp(1rem, 6vmin, 5rem);
  }

  &__score-span {
    color: var(--text-color);
    display: inline-block;
  }

  &__board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 1rem;

    &.x .cell:hover:not(.o):not(.x)::before,
    &.o .cell:hover:not(.o):not(.x)::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.25;
    }

    &.x .cell:hover:not(.o):not(.x)::before {
      background: url("../images/x.png") no-repeat center;
      background-size: 80%;
    }

    &.o .cell:hover:not(.o):not(.x)::before {
      background: url("../images/o.png") no-repeat center;
      background-size: 80%;
    }
  }

  &__turn-text {
    grid-row: 4;
    grid-column: 1 / 4;
    font-size: clamp(1rem, 4vmin, 2rem);
    text-align: center;
  }
  &__restart-btn {
    grid-row: 5;
    grid-column: 1 / 4;
  }
}
.cell {
  width: 17vmin;
  height: 17vmin;
  border: 2px solid var(--text-color);
  position: relative;
  cursor: pointer;

  &.x {
    background: url("../images/x.png") no-repeat center;
    background-color: var(--btn-background);
  }

  &.o {
    background: url("../images/o.png") no-repeat center;
    background-color: var(--btn-background);
  }

  &.o,
  &.x {
    cursor: not-allowed;
    background-size: 80%;
  }
}

.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 5rem;

  &.visible {
    display: flex;
  }
}
