.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__player-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: aqua;
    font-size: 7rem;
  }

  &__board {
    background-color: bisque;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;

    &.x .cell:hover:not(.o):not(.x)::before,
    &.o .cell:hover:not(.o):not(.x)::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      // display: flex;
      // justify-content: center;
      // width: 100%;
      // height: 100%;
      // background-size: 80%;
      opacity: 0.25;
    }

    &.x .cell:hover:not(.o):not(.x)::before {
      background: url('../images/x.png') no-repeat center;
      background-size: 80%;
    }

    &.o .cell:hover:not(.o):not(.x)::before {
      background: url('../images/o.png') no-repeat center;
      background-size: 80%;
    }
  }
}
.cell {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // &:hover:not(.o):not(.x)::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background: url("../images/x.png") no-repeat center;
  //   background-size: 80%;
  //   opacity: 0.25;
  // }

  &.x {
    background: url('../images/x.png') no-repeat center;
  }

  &.o {
    background: url('../images/o.png') no-repeat center;
  }

  &.o,
  &.x {
    cursor: not-allowed;
    background-size: 80%;
  }
}

.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  // display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 5rem;

  button {
    color: black;
    font-size: 3rem;
    background-color: white;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: black;
      border-color: white;
      color: white;
    }
  }

  &.visible {
    display: flex;
  }
}
