.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: linear-gradient(
    rgba(0, 0, 0, 0.95),
    rgba(78, 105, 148, 0.3),
    rgba(0, 0, 0, 0.95)
  );
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  font-size: clamp(1rem, 6vmin, 5rem);

  button {
    margin-top: 2rem;
    padding: 2rem 3rem;
    font-size: clamp(1rem, 6vmin, 5rem);
  }

  &.visible {
    display: flex;
  }
}
